* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
    color: #555;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
}

a:hover {
    opacity: 1
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 8rem;
}

/* Header Styles */

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 10rem 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
}

@keyframes fadein {
    100%{
        opacity: 1;
    }
}

header h2 {
 font-family: "Quicksand", sans-serif;   
}

header nav {
    display: flex;
    margin-right: -1.5rem;
}

header nav li {
    margin: 0 1.5rem;
}

/*hero Styles */

.hero {
    /* position: relative; */
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
}

.hero h1 {
    font: bold 6rem "Open Sans", sans-serif;
    margin-bottom: 1.5rem;
}

.hero h3 {
    font: normal 2.8rem "Open Sans", sans-serif;
    margin-bottom: 4rem;
}

.hero a.btn {
    padding: 2rem 4.6rem;
}

.hero-content-area {
    opacity: 0;
    margin-top: 10rem;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 25rem;
    height: .3rem;
    background-color: #3f51b5;
    border: 0
}

section h3.title {
    text-transform: capitalize;
    font: bold 3.2rem "Open Sans", sans-serif;
    margin-bottom: 3rem;
    text-align: center;
}

section p {
    max-width: 77.5rem;
    line-height: 2;
    padding: 0 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.destinations .grid li {
    height: 35rem;
    padding: 2rem;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.destinations .grid li.small {
    flex-basis: 30%;
}

.destinations .grid li.large {
    flex-basis: 70%; 
}

/* Packages Section */

.packages .grid li {
    padding: 5rem;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: #8c9eff;
    font-size: 3rem;
}

.packages .grid li h4 {
    font-size: 3rem;
    margin: 2.5rem 0;
    
}

/* Testimonials Section */

.testimonial .quote {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 4rem 0 2.5rem ;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact form .btn {
    padding: 1.8rem 4.2rem;
}

.contact form input {
    padding: 1.5rem;
    margin-right: 3rem;
    font-size: 1.8rem;
    color: #555;
    flex: 1;
}

/* Footer Section */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #607d8b;
    color: #fff;
    padding: 2rem 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 1.6rem;
}

footer p {
    text-transform: uppercase;
    font-size: 1.4rem;
    opacity: 0.6;
    align-self: center;
}