/* font-family */

p {
    font-family: Arial;
}

/* font-size */

h1{
    font-family: Georgia;
}

h1{
    font-size: 200px;
}

/* font-weigth */




/* font-height */


/* text-align */



/* text-decoration */