
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #ccc;
    padding: 10px;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    min-height: 50vh;
}

.item {
    background-color: #f1425d;
    font-size: 40px;
    color: white;
    padding: 5px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 70px;
    
}

.i2 {
    height: 200px;
    flex-basis: 300px;
    flex-shrink: 1;
}

.i4 {
    /* font-size: 90px; */
    align-self: center;
    order: -1;
    flex-grow: 2;
    flex-shrink: 3;
}