
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 40vh;
}

.item {
    background-color: #f1425d;
    font-size: 40px;
    color: white;
    padding: 5px;
    margin: 10px;
    flex-basis: 80px;
    
}