* {
    margin: 0;
    padding: 0;
}

input {
    margin: 4px;
}
[type]{
    border: 1px solid red;
}
[type="search"]{
    border: 1px solid blue;
}

section a {
    color: red;
}

section > a {
    color: blue;
}

.btn {
    border: 1px solid black;
    padding: 4px;
    display: inline-block;
    font-size: 12px;
    font-family: arial, sans-serif;
}

.btn.submit {
    background: green;
}

.btn.cancel {
    background: red;
}

.box {
    height: 40px;
    border: 1px solid red;
    width: 60px;
    text-align: center;
    padding: 20px;
    float: left;
    
}

.trex {
    height: 40px;
    border: 1px solid blueviolet;
    width: 60px;
    text-align: center;
    padding: 20px;
    display: inline-block;
   
}

.box:nth-child(3n+2){
    background: lightblue;
}

.wrapper::after {
    content: "";
    display: table;
    clear : both;
}

.span {
    width: 100px;
    height: 100px;
    
    background: yellow;
}
/*  Other Example */


nav {
    background: purple;
    margin-bottom: 5px;
}

a {
    background: lightblue;
}

/* Navigation using Display */

.display {
   text-align: center;
   font-size: 0;
}

.display a {
    padding: 15px 20px;
    display: inline-block;
   
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;

}

/* Navigation using Float */
/* ********************** */

.trox {
    height: 40px;
    border: 1px solid red;
    width: 60px;
    text-align: center;
    padding: 20px;
}

.float {
    text-align: center;
}

.float::after {
    content: "";
    display: table;
    clear: both;
}

.float a {
    float: left;
    padding: 10px;
    width: 23%
}

/* ************************ */

.parent {
   position: relative;
   background: grey;
}

.relative {
    position: relative;
    top: 10px;
    left: 40px;
}

.absolute {
    position: absolute;
   left: 60px;
   bottom: 10px;
}

.fixed {
    position: fixed;
    right: 0;
    top: 0;
}

.background {
    height: 400px;
    background-color: black;
    background-image: url(https://unsplash.it/300/150?image=703);
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
  }
